/* ����� CSS ��� ����������� ����������� */
html {	color: #000; background: #FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,
blockquote,th,td { margin: 0; padding: 0; } li { list-style: none; }

/* ������ */
._core_error { clear:both; float:left; width:100%; font-size: 9pt; position:relative; z-index:99; background-color:  #F5E4E4; border-bottom:1px solid lightgray; line-height: 20px; color: black;}

/* ������� ������� �� ����� ������ */
._core_error_check_box {display: none;}

/* ����� ��� �������� */
._core_error ._core_error_label {position:relative; display:block; width: 100%; cursor:pointer; min-height:20px; height:auto; }

/* ��������� ��� ���������� ������ ��� ���������� �������� */
._core_error_check_box:checked ~ ._core_error_label ._core_error_stack { display:block;}

/* ���������� ��������� */
._core_error._core_debug { background-color: #fbfbfb;}

/* click by css for elapsed output */
._core_error label {
	position: absolute;
	display: block; 
	width: 100%; 
	height: 100%;	 
	top:0px; 
	left: 0px;
	cursor: pointer;
	z-index: 1;
}
.elapsed_click{display: none;}
.elapsed_click:checked ~ ._core_error_stack{ height: auto; display: block; }

/* ��������� ������ */
._core_error._core_fatal_error { background-color: #FFC2A8; border-top:1px solid #FF0C29; border-bottom:1px solid #FF0C29; }

/* �������� ����� ��������� ������ */
._core_error._core_fatal_error ._core_error_text { font-weight: bold; }
/* ���� ��� ��������� ������ - �������� ���� ������� */
._core_error._core_fatal_error ._core_error_function ._core_error_stack { display: block; }

/* �������� ������ */
/* ������ �� �������� ������ � ��������� */
._core_error ._core_error_link { float:left; margin-left:5px; color: blue; } 
/* ����� ����� ��� ������ ��������� */
._core_error span { float:left; margin-left:5px; }
/* ��� ������ */
._core_error span._core_error_type { font-weight: bold; }
/* ���� � ������� ��������� ������ */
._core_error span._core_error_file { }
/* ������ ����� � ������� */
._core_error span._core_error_line { }
/* ����� ��������� �� ������ */
._core_error ul._core_error_text { float:left; margin-left: 5px; }       	
/* ������� � ������� ���� ������ */
._core_error ._core_error_function { float:left; cursor: pointer;  }
/* ���� ������� � ���� ������ */
._core_error_stack { clear:both; display:none; position: relative;}