.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.unselectable {
    -webkit-user-select: none; /* user-select -- это нестандартное свойство */
    -moz-user-select: none;    /* поэтому нужны префиксы */
    -ms-user-select: none;
    -o-user-select: none; /* не поддерживается, просто на будущее */
}
